/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

@font-face {
    font-family: "FishAndChips";
    src: url('../fonts/FishAndChips-Regular.otf'),
         url('../fonts/fishandchips-regular-webfont.ttf');
}

body {
    font-family: FishAndChips, sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 4rem;
    padding: 0 5%;
}

.video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.video iframe,
.video object,
.video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

img {
    max-width:100%;
    height:auto;
}

.logo {
    max-width: 40rem;
    display: none;
}

h1 {
    max-width: 40rem;
    margin: 0 auto;
}

.header {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    margin: 1rem 0 3rem;
    text-align: center;
}

.odd1out,
.is {
    display: none;
}

.members {
    text-align: center;
    clear: both;
    list-style: none;
    margin: 1rem 0 5rem;
    padding: 0;
    font-size: 3rem;
}

.divider {
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.soundcloud-wrapper {
    width: 65rem;
    margin: 4rem auto;
    max-width: 100%;
}


@media (min-width: 800px) {

    .row {
        display: flex;
    }

    .logo {
        display: block;
        max-width: 22rem;

    }
    h1 {
        display: inline-block;
        margin: 0 1rem 0 0;
        width: 22rem;

    }

    .header {
        padding-left: 10%;
        margin-top: 4rem;
        text-align: left;

    }

    .video-wrapper {
        margin-right: 7.5%;
        flex-basis: 60%;
        text-align: left;
    }

    .odd-wrapper {
        text-align: right;
        padding-right: 2vw;
        flex-basis: 40%;
        align-self: flex-end;
    }

    .odd1out {
        display: inline-block;
        width: 22rem;
        opacity: 0.1;
        transform: translateY(6rem) rotate(90deg);
        margin-right: 1rem;
        transform-origin: top right;
    }

    .is {
        display: block;
        flex-basis: 40%;
        text-align: right;
        margin: 1rem 0rem;
        padding-right: 4vw;
    }

    .members {
        flex-basis: 60%;
        margin-left: -2vw;
        text-align: left;
        margin-right: 7.5%;
        font-size: inherit;
    }



    .footer {
        text-align: center;
    }


}